* {
  word-wrap: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

body { 
  background-color: #7DBA84;
}

main {
  position: relative;
  top: 110px;
}

h1 {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100%;
  background-color: #8FD694;
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
  border-bottom: black solid 2px;
  z-index: 20;
}

.selector-grid {
  margin: 10px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.selector-grid button {
  background-color: #8FD694;
  border: none;
  font-size: 1em;
  color: white;
}

.selector-grid button:hover, .selector-grid button:focus {
  color: black;
  font-weight: bold;
  border: none;
  outline: none;
}

.getting_started h2 {
  margin: 0;
}

.card_grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  margin: 8px 4px; 
  overflow: auto;
  background-color: #8FD694;
  height: 300px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 80%;
  margin: 0;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

.full img {
  max-width: 100%;
  margin: 0;
}

.full {
  position: absolute;
  width: 70%;
  z-index: 15;
  left: 15%;
  top: 50px;
  margin: 0;
  background-color: #8FD694;
  border: solid black 2px;
  border-radius: 10px;
}